<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/static/estilo.css">
</head>
<body>
    {#Header#}
    <div class="header">
        <img src="/static/img/logo-quebra-cabeça.png"/>

        <div class="pesquisar">
            <input placeholder="Encontre tudooo..."/>
            <button><img src="/static/img/lupa.png"/></button>
        </div>

        <nav class="nav">
            <a href="/">Home</a>
            <a href="/categorias">Categorias</a>
            <a href="/populares">Populares</a>
            <a href="/ofertasAni">Ofertas</a>
            <a href="/lancamentos">Lançamentos</a>
        </nav>

        <div class="botao">
            <button><img src="/static/img/carrinho.png"/></button>
            <button><img src="/static/img/sem-perfil.png"/></button>
        </div>
    </div>

    {#contate-nos#}
    <div id="contate" class="fale">
        <div>
            <div>
                <h4>Tem ideias de kits de aniversário? Alguma dúvida ?</h4>
                <h1>FALE CONOSCO</h1>
            </div>

            <div class="faleInputs">
                <div>
                    <label>
                        Informe seu nome:
                        <input placeholder="Ex: Fulano Cicrano"/>
                    </label>
                </div>

                <div>
                    <label>
                        Informe seu número de telefone:
                        <input placeholder="Ex: (18) 00000-0000"/>
                    </label>
                </div>

                <div>
                    <label>
                        Digite sua mensagem:
                        <input placeholder="Informe aqui sua mensagem"/>
                    </label>
                </div>

                <div>
                    <button>Enviar</button>
                </div>

            </div>
        </div>

        <div>
            <img src="/static/img/cavalinho.PNG"/>
        </div>
    </div>

    {#Footer#}
    <div class="footer">
        <div>
            <img src="/static/img/logo-quebra-cabeça.png"/>
        </div>

        <div>
            <nav>
                <a>Instagram</a>
                <a>WhatsApp </a>
                <a>Facebook</a>
            </nav>
        </div>

        <div>
            <p>(18) 99123-1234 / (18) 3636-3636</p>
            <p>Rua Lorem Ipsum Nº 123, Centro - Birigui / SP</p>
        </div>
    </div>

</body>
</html>