<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/static/estilo.css">
</head>
<body>
    {#Header#}
    <div class="header">
        <img src="/static/img/logo-quebra-cabeça.png"/>

        <div class="pesquisar">
            <input placeholder="Encontre tudooo..."/>
            <button><img src="/static/img/lupa.png"/></button>
        </div>

        <nav class="nav">
            <a href="/">Home</a>
            <a href="/categorias">Categorias</a>
            <a href="/populares">Populares</a>
            <a href="/ofertasAni">Ofertas</a>
            <a href="/contate">Contate-nos</a>
        </nav>

        <div class="botao">
            <button><img src="/static/img/carrinho.png"/></button>
            <button><img src="/static/img/sem-perfil.png"/></button>
        </div>
    </div>

    {#Lançamentos#}
    <div>
        <div class="titulo">
            <img src="/static/img/estrelinha.png"/>
            <h3>Lançamentos</h3>
            <img src="/static/img/estrelinha.png"/>
        </div>

        <div class="maisVen">
            <div class="moverCora">
                <img src="/static/img/coracao.png" class="coracao"/>
                <button>
                    <img src="/static/img/pelucia-mine.png"/>
                    <p class="maisVenPreco">Por R$ 49,90</p>
                    <p>ou 10x de R$5,00 sem juros</p>
                    <p>Conjunto 5 carrinhos hot wheels</p>
                </button>
            </div>

            <div>
                <img src="/static/img/coracao.png" class="coracao"/>
                <button>
                    <img src="/static/img/arcanine.png"/>
                    <p class="maisVenPreco">Por R$ 99,90</p>
                    <p>ou 10x de R$10,00 sem juros</p>
                    <p>Barbie Passeio com Cachorrinho</p>
                </button>
            </div>

            <div>
                <img src="/static/img/coracao.png" class="coracao"/>
                <button>
                    <img src="/static/img/moana.png"/>
                    <p class="maisVenPreco">Por R$ 59,90</p>
                    <p>ou 10x de R$6,00 sem juros</p>
                    <p>Fone de ouvido Bluetooth de gatinho</p>
                </button>
            </div>
        </div>
    </div>

    {#Footer#}
    <div class="footer">
        <div>
            <img src="/static/img/logo-quebra-cabeça.png"/>
        </div>

        <div>
            <nav>
                <a>Instagram</a>
                <a>WhatsApp </a>
                <a>Facebook</a>
            </nav>
        </div>

        <div>
            <p>(18) 99123-1234 / (18) 3636-3636</p>
            <p>Rua Lorem Ipsum Nº 123, Centro - Birigui / SP</p>
        </div>
    </div>

</body>
</html>